body {
    background-color: rgb(50, 50, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container  {
    width: 300px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: beige;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: orangered;
}

h1 {
    color: beige;
    text-align: center;
}